:root{
    --primary: #FFAD60; //escuro
    --primary-010: #FFE162;//escuro



    --secondary: #FA7070; 
    --secondary-010: ;
    

    --third:#799351;
    --third-010: #A9CB74;

    --fourth: #89B9AD;
    --fourth-010: #3A8891;
    --fourth-020: #5C76A8;


    --white: #fff;
    --white-010: #D9D9D9;
    --white-020: #F6F5F2;
    --white-00: #E8DFCA; //cinza

    --black: #000;
    --black-10: #2a2a30;

    --grey: #9b9ba0;
    --grey-010: #5c5c5d;
    --grey-020: #4b4b4b;
}